<p>test works!</p>

<p>test 2 component is used for pipes and custom pipes</p>
<hr />

<p>pipes are used to format data on view </p>
<hr>

<p> using build in pipes  </p>
<p>Title uppercase : {{titleMain | uppercase }}</p>
<p>Title lowercase:  {{objcourse.title | lowercase}}</p>
<p>Studnets: {{objcourse.students | number}}</p>
<p>Rating number:  {{objcourse.rating | number }}</p>
<p>Rating number with decimal limit:  {{objcourse.rating | number:'6.1-2'}}</p>
<p>Price : {{objcourse.price | currency}}</p>
<p>Price : {{objcourse.price | currency:'AUD':true:'2.2-2'}}</p>
<p>date pipe: {{objcourse.date | date}}</p>
<p>date long: {{objcourse.date | date:'long'}}</p>
<p>date : {{objcourse.date}}</p>
<hr>

<p> using custom pipe, summary pipe which get long stirng but display only a short summary of it  </p>
<p>Long orignal text : <br /> {{longtext}} </p>
<br>
<p>Long text with summary pipe : <br /> {{longtext | summary}} </p>
<p>Long text with summary pipe with limit argument : <br /> {{longtext | summary:100}} </p>
<hr />


<p>below is font test component </p>
<!-- [isFill] property is an input varibale and can be set from outside of component when used as a directive -->
<!-- [is-Showable] is alias name of fonttest component -->
<!-- event-Happend is custom event just like click etc so we write it inside () -->
<app-fonttest [isFill]="isFill" [is-Showable]="isShowable" (event-Happend)="onEventHappend()" (event-Happend2)="onEventHappend2($event)" (event-Happend3)="onEventHappend3($event)"></app-fonttest>


<bootstrap-panel>
  <div class="anyClassName">
    some dynamic title for card
  </div>
  <div id="anyIdName">
    some dynamic subtitile for class
  </div>
  <ng-container class="anyClassName2">
    some dynamic description for card using ng-container
  </ng-container>
  <ng-container id="anyIdName2">
    dynamic button text 1
  </ng-container>
  <ng-container id="anyIdName3">
    dynamic button text 2
  </ng-container>
</bootstrap-panel>

<hr>
<hr>
<app-directives></app-directives>
