<p>fonttest works!</p>
<hr />

<p>below are fontawesome free fonts </p>
<i class='fab fa-facebook'></i>
<p>with size</p>
<i class='fab fa-facebook fa-10x '></i>

<i class="far fa-star fa-3x"></i>
<hr>

<p>clickable fill and unfill  icon </p>
<div (click)="onClick()">
  <div *ngIf="isFill">
    <i class="fas fa-star fa-3x"></i>
  </div>
  <div *ngIf="!isFill">
    <i class="far fa-star fa-3x"></i>
  </div>
</div>
<hr>

<p>example of how to pas data from one component to another and must use alias for @input() variables as good programming practice</p>
<div *ngIf="isShowable">
  some text to show or not based condition
</div>






